@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #374958;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #374958;
    --background-color: #ffffff;
  }
}

body {
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: #6b7280 transparent; */
  box-sizing: border-box;
}
